<?xml version="1.0"?>
<launch>
    <rosparam file="$(find cbot)/config/params.yaml" command="load" />
    <node name="thruster_node" pkg="cbot_actuators" type="thruster_node"></node>
    <node name="control_node" pkg="cbot_control" type="control_node"></node>
    <node name="guidance_node" pkg="cbot_guidance" type="guidance_node"></node>
    <node name="safety_monitor_node" pkg="cbot_monitoring" type="safety_monitor_node"></node>
    <node name="navigation_node" pkg="cbot_navigation" type="navigation_node"></node>
    <node name="sensors_node" pkg="cbot_sensors" type="sensors_node"></node>
</launch>
